body {
    font-family: "Open Sans", sans-serif;
    background-color: gainsboro;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.App {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-template: "sidebar" "content";
}

.content {
    grid-area: content;
    background: #f7f7f7;
}

.playground-list {
    grid-area: sidebar;
    background: darkgray;

    // width: 200px;
    // height: 100vh;

    &__item:hover {
        cursor: pointer;
        background-color: blueviolet;
        color: white;
    }

    &__item--active {
        color: white;
        background: blueviolet;
    }

    &__menu-toggle {
        text-align: center;
        background: darkgray;

        &:hover {
            cursor: pointer;
            background: blueviolet;
        }
    }
}

.row {
    display: flex;
    flex: 1;
    align-content: space-around;
}

.col {
    border: 0.5px solid;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 2px;
    padding: 2px;
}
