body {
  font-family: "Open Sans", sans-serif;
  background-color: gainsboro;
  overflow: hidden; }

.playground-list-item:hover {
  cursor: pointer;
  background-color: orange; }

.row {
  display: flex;
  flex: 1;
  align-content: space-around; }

.col {
  border: 0.5px solid;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: 2px;
  padding: 2px; }

.p6-dynamic-menu__menu {
  position: absolute;
  top: 30vh;
  right: 70vw;
  text-align: right; }

.p6-dynamic-menu__placeholder {
  visibility: hidden; }

.p6-dynamic-menu__item {
  height: 30px;
  font-size: 1.5em;
  cursor: pointer; }
  .p6-dynamic-menu__item.active {
    font-weight: 900; }

.p6-dynamic-menu__line {
  position: absolute;
  right: 0;
  top: calc(30vh + 105px);
  width: 69vw;
  height: 2px;
  background: darkblue; }
